
$imagesPath: "/node_modules/@gobdigital-cl/gob.cl/dist/images/";
$fontsPath: "/node_modules/@gobdigital-cl/gob.cl/dist/fonts/";
$iconsPath: "/node_modules/@gobdigital-cl/gob.cl/dist/images/icons/";

@import "../../../node_modules/@gobdigital-cl/gob.cl/src/scss/variables";
@import "../../../node_modules/@gobdigital-cl/gob.cl/src/scss/functions";